.contain {
  display: flex;
}

.bg-1{
height:70vh;
}

.head{
  align-items: center;
}

.menu {
  position: fixed;
  /*height: 100vh;
    width: 100%;*/
  left: 100%;
  /*top: 0;*/
  text-align: center;
  padding-top: 80px;
}
.menu-btn {
  margin-left: 90px;
  padding-left: 10px;
}

.icon{
    margin-left: 70px;
}


.icon-right-1 {
  margin-left: -90px;
}

.icon-right-2{
  margin-left: -140px;
}

.logo {
  margin-left: -150px;
}
.input-icons{
  margin-left:-70px;
}
.input-field {
  text-align:left;
  padding: 5px 200px;
  margin-left: -80px;
  line-height: 32px;
  width: auto;
}

.block-1 p {
  margin-top: 15px;
}
.container-2 .inner-div-1 .block-1 {
  /* padding-top: 40px;
    padding-left: 40px; */
  margin: 0;
}

.block-5 {
  display: block;
}

.block-5 img {
  width: 100%;
  padding: 20px 20px;
}
.block-2 {
  display: none;
}

.wide-box {
  display: flex;
}

.block-3 {
  padding: 20px 40px;
  margin-top: -40px;
}

.block-4 {
  padding: 20px 40px;
  margin-top: -40px;
}
.pic-products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-items .flex{
  margin-left: 180px;
}
.li {
  display: flex;
  margin: 10px 30px;
  padding: 3px;
}

.pic-1{
  display: none;
}

.pic-1-0{
  display: block;
  height: 50vh;
  margin-top: -100px;
}

.pic-2 .wide-banner{
  width: 100%;
  height :200vh;
}

.pic-products{
  margin-top: -100px;
}


/* part-6 */

.container-4{
  padding: 50px;
}

.big-box .ad-1, .a-1, .a-2{
  display: block;
}

.big-box .ad-1-0, .a-1-0, .a-2-0{
  display: none;
}


.big-box , .ad-2{
  display:block;
  }

  .ad-2{
    display: flex;
    margin-top: 20px;
  }

  .a-1{
    margin-right:10px;
  }

  .a-2{
    margin-left:10px;
  }

  .category{
    display: flex;
   
  }

  form{
    background: white;
    margin-top: 10px;
    margin-left: 300px;
    margin-bottom: 40px;
  }

  .form-wrap input{
    padding: 10px;
    width: 50%;
  }